<!DOCTYPE html>
<html>
<head>
    <title>Student Information System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <ul class="breadcrumb">
            <li><a class="btn btn-info" href="{{url_for('main.index')}}">Home</a></li>
            <li><a class="btn btn-info" style="margin-left:5px;" href="{{url_for('main.dashboard')}}">Dashboard</a></li>
            <a href="{{url_for('main.index')}}"><button class="btn btn-info" style="margin-left:5px;">Log Out</button></a>
        </ul>
            <h1>404 : Not Found</h1>
        </div>
    </div>

</body>
</html>