<!DOCTYPE html>
<html>
<head>
    <title>Student Information System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <a href="{{url_for('main.index')}}"><button class="btn btn-info" style="float:right;">Log Out</button></a>
            <h1>STUDENT INFORMATION SYSTEM</h1>
            <h2>Welcome <?php $user ;?></h2>
        </div>
        <div class="container-fluid">
            <table class="table">
            {% for field in student %}
                <tr>
                    <td>{{field}}</td>
                    <td>{{student[field]}}</td>
                </tr>
            {% endfor %}
            </table>
            <table class="table">
                <tr>
                    <td>{{result[0]}}</td>
                </tr>
            </table>

        </div>
    </div>

</body>
</html>